body{
   font-family: Arial, Helvetica, sans-serif; 
   margin: 0;
}
header{
    background-color: #fbbc02;
    position: sticky;
    display: flex;
    margin: 0;
    height: 115px;
    justify-content: space-between;
    font-size: 18px;
}
header img{
    position: static;
    height: 38px;
    margin-left: 35px;
    margin-top: 9px;
}
.buscar{
    position: static;
    width: 25%;
    margin: 3% 7% 5% 2%;
}
.buscar input{
    width: 120%;
    height: 27px;
    border-radius: 4px;
}
.cuenta{
    height: 55%;
    justify-content: space-around;
    margin-top: 13%;
}
.registro{
    margin-left: 10%;
}
a:link{
    text-decoration:none;
    color: black;
}
a:visited{
    text-decoration:none;
    color:black;
}
header a:hover{
    color:white;
    transition: 1s;
}
.Todos{
    margin-top: 15%;
    margin-right: 2%;
    text-align: center;
}
main img{
    position: static;
    height: 260px;
    width: 100%;
    margin-bottom: 2%;
}
.precios{
    text-align: center;
    font-size: 25px;
    margin-top: 2%;
    margin-bottom: 2%;
}
.cartas{
    display: flex;
    justify-content: space-around;
}
.productos{
    height: 250px;
    width: 215px;
    border: 2px solid rgb(202, 182, 182);
    border-radius: 7px;
    margin-bottom: 5%;
}
.productos img{
    height: 180px;
    width: 200px;
    justify-content: center;
}
.btn{
    background-color: rgb(38, 91, 251);
    color: white;
    border-radius: 5px;
    border: none;
    height: 25px;
    width: 80px;
    margin-left: 5px;
}
main button{
    cursor:pointer;
}
main button:active{
    transform: scale(.9);
}
.productos p{
    font-size: 13px;
    text-align: center;
}
.productos button{
    text-align: center;
    font-size: 12px;
}
.destacados{
    height: 253px;
    width: auto;
    border: 2px solid rgb(202, 182, 182);
    border-radius: 7px;
}
.destacados img{
    height: 250px;
    width: 70%;
    position: static;
    margin-left: 60px;
    margin-right: 60px;
}
.destacados div{
    font-size: 15px;
    position: absolute;
    margin: 110px 125px 100px 100px;
}
.teleycelu:hover{
    color: rgb(48, 48, 48);
    transform: scale(.7);
}